.element__heart {
  background-image: url(../../../image-Sprint4/Heart.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: #FFFFFF;
  width: 22px;
  height: 19px;
  padding-right: 5px;
  transition: opacity 0.3s linear;
}

.element__heart:hover {
  opacity: 0.6;
}
